@import "tailwindcss";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow: hidden; /* locomotive manages scroll */
}

[data-scroll-container] {
  height: auto !important;
  min-height: 100%;
  overflow: hidden;
}